.nk-logo{

    width:120px;

    height:120px;

    border-radius:50%;

    background:#2563eb;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:48px;

    font-weight:800;

    letter-spacing:3px;

    margin-bottom:30px;

    box-shadow:0 10px 30px rgba(37,99,235,0.3);

    animation:floatLogo 3s infinite ease-in-out;

}

#typing-text{

    font-size:24px;

    font-weight:600;

    height:40px;

}

@keyframes floatLogo{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-8px);

    }

    100%{

        transform:translateY(0);

    }

}

.dark-mode .nk-logo{

    background:#3b82f6;

}